<a href="/dashboard">&larr; Back</a>

<div class="admin-title">

<form class="uploadForm" action="/upload" method="post" enctype="multipart/formdata">
    <label class="control-label">Select File</label>
    <input name="file" id="input-1" type="file" class="file">
    <input type="submit" value="submit" />
</form>


</div>

