<div class="author">
    <h1 class="author__heading">Hi, I'm Andrew.</h1>
    <p class=""author__body>In summary, I am an absolute generalist engineer who will throw his hand at 
        building anything, including this blog, medical devices, fixing my motorbike. So far in my career 
        I have worked in project management in an engineering consulatancy, working on the biggest projects
        in aviation in Europe, including the Dublin Airport Baggage System Upgrade, the Schipol CAP project, 
        and the Shannon BHS upgrade. Then I went on to found a medical device company, that built solutions 
        for patients with respiratory disease. We couldn't fundraise enough money to get through our clinical
        trials and therefore had to shut down. Currently, I amn't exactly sure what I am doing, but I want to 
        get back to building things which is why I am writing here, I am not sure anyone will read this, and 
        not sure I want anyone to. 

        This will be a summary of my work to date.
    </p>
</div>

<img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class = "articles-ul">
    <h2 class="articles__heading">Latest articles</h2>
    <ul class = "article-ul">

        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class ="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>

    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>



</section>